<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center>    
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
t = (1,2,3,4,5,6)
print(sum(t))

21

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [62]:
t = (1,6,3,2,9,6)
# max,min = t[0],t[0]

# for i in t:
#     if i > max:
#         max = i
#     elif i < min:
#         min = i

# print(f'max : {max}')
# print(f'min : {min}')

k = 2
t1 = list(t)
t1.sort()

for i in range(k):
    print(t1[i])
    print(t1[-i+1])

1
2
2
1

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [11]:
l = [(1,2,3,4),(5,6,7,8),(2,4,6,8),(1,2,5,7),(5,10)]
k = 2
cnt = 0

for i in l:
    for j in i:
        if j % k != 0:
            cnt += 1
            
    if cnt == 0:
        print(i)
    cnt = 0

(2, 4, 6, 8)

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [12]:
# l = [(1,1),(2,8),(3,27),(4,64),(5,125)] ans
l = [1,2,3,4,5,6]

ans = [(i,i**3) for i in l]
ans

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [21]:
l = [(1,2,3,4),(5,-6,7,8),(2,4,6,8),(1,-2,5,7),(5,-10)]
cnt = 0

for i in l:
    if all(j>0 for j in i):
        print(i)

(1, 2, 3, 4)
(2, 4, 6, 8)

### 06) WAP to add tuple to list and vice â€“ versa.

In [20]:
t_test = (1,2,3)
l_test = [5,6,7]

og_l = [369,True,"Bhai Bhai",['a','s','d','f']]
og_l.append(t_test)

og_t = (1,2,4,6,8,4)
og_t = list(og_t)
og_t.append(l_test)
og_t = tuple(og_t)
og_t

(1, 2, 4, 6, 8, 4, [5, 6, 7])

### 07) WAP to remove tuples of length K.

In [44]:
l = [(1,2,3,6),(1,2,5,7),(5,-6,7,8,9),(2,4,6,8),(5,-10),(1,1,1,1),(2,2,2,2)]
l2 = l.copy()
k = 4

for i in l2:
    if len(i) == k:
        l.remove(i)
print(l)

[(5, -6, 7, 8, 9), (5, -10)]

### 08) WAP to remove duplicates from tuple.

In [37]:
t = (1,1,2,3,4,3,6,8,9,9)
t = set(t)
t = tuple(t)
t

(1, 2, 3, 4, 6, 8, 9)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [58]:
t1 = (1,2,3,4,5)
t1 = list(t1)

ans = [(i*(i+1)) for i in range (1,len(t1))]
ans

[2, 6, 12, 20]

### 10) WAP to test if the given tuple is distinct or not.

In [60]:
l = [(1,2,3,6),(1,2,5,7),(5,-6,7,8,9),(1,2,3,6),(5,-10),(1,1,1,1),(2,2,2,2)]

# for i in 

t = (1,2,3,4,5)
t1 = list(t)
t2 = set(t)

if len(t1) == len(t2):
    print("No dups")
else:
    print("has dups")

No dups

In [65]:
l = [(1,2,3,6),(1,2,5,7),(5,-6,7,8,9),(1,2,3,6),(5,-10),(1,1,1,1),(2,2,2,2)]

for i in range(len(l)):
    for j in l[i+1:]:
        if l[i] == j:
            print(l[i])

(1, 2, 3, 6)